{% extends "Usuarios/HeaderAndFooterFachada.html"%} 

{% block title %} Generar Historial Tutorias {% endblock %} 

{% block body %}
<!--Ver Tutorias-->
<section id="section"  style="background-color: #eee">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-5 col-xl-6">
                <div class="card border-top border-bottom border-4" style="border-color: #f08200 !important">
                    <div class="card-body p-4">
                        <h3 class="fw-bold mb-4 text-primary text-title-bold">Generar PDF Historial Tutorias</h3>

                        <div class="card-body text-body">
                            <form action="{% url 'generar_pdf' %}" method="get">
                                <div class="mb-3">
                                    <label for="fecha_inicio" class="form-label">Fecha de inicio:</label>
                                    <input type="date" class="form-control" id="fecha_inicio" name="fecha_inicio" />
                                </div>
                                <div class="mb-3">
                                    <label for="fecha_fin" class="form-label">Fecha de fin:</label>
                                    <input type="date" class="form-control" id="fecha_fin" name="fecha_fin" />
                                </div>
                                <!--Checkboxs para las columnas-->
                                <div class="mb-3">
                                    <label for="" class="form-label">Columnas:</label>
                                    <br>
                                    <input type="checkbox" class="" id="" name="todo"/>
                                    <label for="todo" class="">Todas</label>
                                    <input type="checkbox" class="" id="" name="alumno"/>
                                    <label for="alumno" class="">Alumno</label>
                                    <input type="checkbox" class="" id="" name="fecha"/>
                                    <label for="fecha" class="">Fecha</label>
                                    <input type="checkbox" class="" id="" name="hora"/>
                                    <label for="hora" class="">Hora</label>
                                    <input type="checkbox" class="" id="" name="tema"/>
                                    <label for="tema" class="">Temas</label>
                                    <input type="checkbox" class="" id="" name="notas"/>
                                    <label for="notas" class="">Notas</label>
                                </div>
                                <div class="w-100 d-flex justify-content-center align-items-center my-3">
                                    <button type="submit" class="btn btn-primary text-title">Generar PDF</button>
                                </div>
                            </form>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function filterByDate() {
        var inputDate = document.getElementById("dateInput").value;
        var rows = document.querySelectorAll(".table tbody tr");

        rows.forEach(function (row) {
            var rowDate = row.querySelector("td:nth-child(3)").textContent;
            if (inputDate === "" || rowDate === inputDate) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>

{% endblock %}