{% extends "Usuarios/HeaderAndFooterFachada.html"%} 

{% block title %} Historial Tutorías  {% endblock %} 

{% block body %}
<!--Ver Tutorias-->
<section class="min-vh-100" style="background-color: #eee">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-10">
                <div class="card border-top border-bottom border-4" style="border-color: #f08200 !important">
                    <div class="card-body p-4">
                        <h3 class="fw-bold mb-5 text-primary">Historial de tutorías</h3>

                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Alumno</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Tema</th>
                                        <th>Observaciones</th>
                                        <th>Seguimiento</th> <!-- New Seguimiento column -->
                                        <th>Asistencia</th>
                                        <th>Duración de la tutoría</th>
                                        <th>¿Firma de documentos de beca?</th>
                                        <th>Nombre de la beca otorgada</th>
                                        <th>¿Requirió asesoría especializada?</th>
                                        <th>Aspectos tratados en la tutoría</th>
                                        <th>Impacto tutoría</th>
                                        <th>Resultados de tutoría</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tutoria in object_list %}
                                    <tr>
                                        <td>{{ tutoria.alumno.first_name }} {{ tutoria.alumno.last_name }}</td>
                                        <td>{{ tutoria.fecha|date:"Y-m-d" }}</td>
                                        <td>{{ tutoria.fecha|date:"H:i" }}</td>
                                        <td>{{ tutoria.get_tema_display |join:", " }}</td>
                                        <td>{{ tutoria.descripcion }}</td>
                                        <td>
                                            <!-- Se supone que la llave primaria se pasa como parte del url a la página de seguimiento... -->
                                            <a href="{% url 'save_seguimiento' pk=tutoria.pk %}" class="btn btn-primary">Realizar</a>
                                            </a>
                                        </td>
                                        <!--Boolean-->
                                        <td>{{ tutoria.asistencia|yesno:"Sí,No" }}</td>
                                        <td>{{ tutoria.duracion }}</td>
                                        <!--Boolean-->
                                        <td>{{ tutoria.firma_documentos_beca|yesno:"Sí,No" }}</td>
                                        <td>{{ tutoria.beca_otorgada }}</td>
                                        <!--Boolean-->
                                        <td>{{ tutoria.asesoria_especializada|yesno:"Sí,No" }}</td>
                                        <td>{{ tutoria.observaciones }}</td>
                                        <td>{{ tutoria.impacto_tutoria }}</td>
                                        <td>{{ tutoria.resultados_tutoria }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function filterByDate() {
        var inputDate = document.getElementById("dateInput").value;
        var rows = document.querySelectorAll(".table tbody tr");

        rows.forEach(function (row) {
            var rowDate = row.querySelector("td:nth-child(3)").textContent;
            if (inputDate === "" || rowDate === inputDate) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
    }
</script>

{% endblock %}
